@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: royalblue;
    padding: 50px;
}

.container{
    width: 80vw;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
    );
}

.content{
    display: flex;
    gap: 20px;
    user-select: none;
    overflow: hidden;
    margin-bottom: 30px;
}


.content ul{
    list-style: none;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    gap: 20px;

    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    to{
        transform: translateX(-100%);
    }
}

.content.middle ul{
    animation-direction: reverse;
}

.content:hover ul{
    animation-play-state: paused;
}


.content ul li{
    background: #fff;
    color: #000;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 5px;
}

.content ul li:hover{
    cursor: pointer;
    background: gold;
    transition: 0.4s;
}